<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Consuloan | Responsive Multi-Purpose HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">

	<!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="icon" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="icon">
    <link href="icon/favicon.png" rel="icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>                                 
<body class="header_sticky"> 
    <!-- Preloader -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>   

    <!-- Boxed -->
    <div class="boxed">

    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 reponsive-onehalf">                      
                    <p class="info-text">Welcome to Financial Services Consultant!</p>
                </div><!-- /.col-md-6 -->       
                <div class="col-lg-6 col-sm-6 reponsive-onehalf">
                    <div class="wrap-top">
                        <ul class="flat-top social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        <div class="flat-top flat-language">                        
                            <ul class="unstyled">
                                <li class="current"><a href="#">English</a>
                                    <ul class="unstyled">
                                        <li class="en"><a href="#">French</a></li>
                                        <li class="ge"><a href="#">German</a></li>
                                    </ul>
                                 </li>
                            </ul>
                       </div> 
                    </div>
                </div>        
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.top -->

    <div class="flat-header-wrap">
        <!-- Header -->            
        <div class="header widget-header clearfix">
            <div class="container">
                <div class="header-wrap clearfix">
                    <div class="row"> 
                        <div class="col-lg-3">
                            <div id="logo" class="logo">
                                <a href="index.html" rel="home">
                                    <img src="images/logo1.png" alt="image">
                                </a>
                            </div><!-- /.logo -->
                            
                        </div>
                        <div class="col-lg-9">
                            <div class="wrap-widget-header clearfix">
                                <aside  class="widget widget-info">
                                    <div class="btn-click">
                                        <a href="#" class="flat-button">GET A QUOTE</a>
                                    </div>
                                </aside>
                                <aside class="widget widget-info">          
                                    <div class="textwidget clearfix">
                                        <div class="info-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>40 Baria Sreet 133/2</h6>
                                            <p>NewYork City, US</p>
                                        </div>
                                    </div>
                                </aside>
                                <aside class="widget widget-info">          
                                    <div class="textwidget clearfix">
                                        <div class="info-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>001-1234-88888</h6>
                                            <p>info.deercreative@gmail.com</p>
                                        </div>
                                    </div>
                                </aside>               
                            </div>
                        </div>   
                    </div><!-- /.row -->                   
                </div><!-- /.header-wrap -->                 
                
            </div>
        </div><!-- /.header -->
        <header id="header" class="header header-style1  header-classic">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-wrap-header">
                            <div class="nav-wrap clearfix">        
                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu"> 
                                        <li>
                                            <a href="index.html">Home</a>
                                            <ul class="submenu"> 
                                                <li><a href="index.html">Homepage Style 01</a></li>
                                                <li><a href="index-v2.html">Homepage Style 02</a></li>
                                                <li><a href="index-v3.html">Homepage Style 03</a></li>
                                                <li><a href="index-v4.html">Homepage Style 04</a></li>
                                                <li><a href="index-v5.html">Homepage Style 05</a></li>
                                                <li><a href="index-v6.html">Homepage Style 06</a></li>
                                                <li><a href="index-v7.html">Homepage Style 07</a></li>
                                                <li><a href="index-v8.html">Homepage Style 08</a></li>
                                                <li><a href="index-customer.html">Homepage Animate</a></li>
                                            </ul><!-- /.submenu --> 
                                        </li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="services.html">Services</a>
                                            <ul class="submenu"> 
                                                <li><a href="services.html">Services Style 01</a></li>
                                                <li><a href="services-v2.html">Services Style 02</a></li>
                                                <li><a href="services-details.html">Services Details</a></li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="team-v1.html">pages</a>
                                            <ul class="submenu"> 
                                                <li><a href="team-v1.html">Our Team Style 01</a>
                                                </li>
                                                <li><a href="team-v2.html">Our Team Style 02</a>
                                                </li>
                                                <li><a href="page-careers.html">Careers</a>
                                                </li>
                                                <li><a href="page-404.html">Error 404</a>
                                                </li>
                                                <li><a href="page-comingsoon.html">Coming Soon</a>
                                                </li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li class="active">
                                            <a href="projects.html">Projects</a>
                                            <ul class="submenu"> 
                                                <li><a href="projects.html">Projects</a>
                                                </li>
                                                <li><a href="projects-v1.html">Projects 1 Column</a>
                                                </li>
                                                <li><a href="projects-v2.html">Projects 2 Column</a>
                                                </li>
                                                <li><a href="projects-grid.html">Projects Grid</a>
                                                </li>
                                                <li><a href="single-post.html">Single Post</a>
                                                </li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="new-list.html">News</a>
                                            <ul class="submenu"> 
                                                <li><a href="new-list.html">News List</a>
                                                </li>
                                                <li><a href="new-fullwidth.html">News Full Width</a>
                                                </li>
                                                <li><a href="new-grid.html">News Grid</a>
                                                </li>
                                                <li><a href="new-masonry.html">News Masonry</a>
                                                </li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="shop.html">shop</a>
                                            <ul class="submenu"> 
                                                <li><a href="shop.html">Shop Product</a></li>
                                                <li><a href="shop-default.html">Shop Default</a></li>
                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                <li><a href="shop-single.html">Shop Audditinal</a></li>
                                                <li><a href="shop-single.html">Shop Single Review</a></li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="contact.html">Contact</a>
                                            <ul class="submenu"> 
                                                <li><a href="contact.html">Contact Style 01</a></li>
                                                <li><a href="contact-v2.html">Contact Style 02</a></li>
                                            </ul><!-- /.submenu -->
                                        </li>                       
                                    </ul><!-- /.menu -->
                                </nav><!-- /.mainnav -->  
                                <div class="top-search">                        
                                    <form action="#" id="searchform-all" method="get">
                                        <div>
                                            <input type="text" id="input-search" class="sss" placeholder="Search...">
                                            <input type="submit" id="searchsubmit">
                                        </div>
                                    </form>
                                </div>
                                <ul class="menu menu-extra">
                                    <li id="s" class="show-search">
                                        <a href="#search" class="flat-search"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li class="shopping-cart">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                        <div class="subcart">
                                            <div class="widget_shopping_cart_content">
                                                <ul class="cart_list product_list_widget margin-bottom-20">      
                                                    <li class="mini_cart_item">
                                                        no product
                                                    </li>    
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul> 
                                <div class="btn-menu">
                                    <span></span>
                                </div><!-- //mobile menu button -->
                            </div><!-- /.nav-wrap -->
                             
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
            
    <!-- Page title -->
    <div class="page-title parallax parallax1">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="page-title-heading">
                        <h1 class="title">Project Grid</h1>
                    </div><!-- /.page-title-captions -->  
                    <div class="breadcrumbs">
                        <ul>
                            <li class="home"><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                            <li><a href="projects.html">Project</a></li>
                            <li>Grid</li>
                        </ul>                   
                    </div><!-- /.breadcrumbs --> 
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row -->  
        </div><!-- /.container -->                      
    </div><!-- /.page-title --> 

    <!-- Blog posts -->
    <section class="flat-row project-grid">
        <div class="container">
            <div class="post-wrap post-grid wrap-column clearfix">
                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g1.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Advisory Plan</span>
                            <h2 class="title-post"><a href="single-post.html">Colombia Gets a Business Makeover</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>26 Dec 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g2.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Finance & Accounting</span>
                            <h2 class="title-post"><a href="single-post.html">The Recurring Debate Over Concurrent Delays</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>20 Aug 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow  flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g3.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Business Plans</span>
                            <h2 class="title-post"><a href="single-post.html">Counting the Cost of Delay & Disruption</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>12 JUN 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>

                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g4.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Advisory Plan</span>
                            <h2 class="title-post"><a href="single-post.html">Colombia Gets a Business Makeover</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>26 Dec 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g5.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Finance & Accounting</span>
                            <h2 class="title-post"><a href="single-post.html">The Recurring Debate Over Concurrent Delays</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>20 Aug 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g6.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Business Plans</span>
                            <h2 class="title-post"><a href="single-post.html">Counting the Cost of Delay & Disruption</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>12 JUN 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>

                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g7.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Advisory Plan</span>
                            <h2 class="title-post"><a href="single-post.html">Colombia Gets a Business Makeover</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>26 Dec 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g8.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Finance & Accounting</span>
                            <h2 class="title-post"><a href="single-post.html">The Recurring Debate Over Concurrent Delays</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>20 Aug 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow flat-column3 clearfix">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="single-post.html"> <img src="images/blog/g9.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Business Plans</span>
                            <h2 class="title-post"><a href="single-post.html">Counting the Cost of Delay & Disruption</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>12 JUN 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
            </div>
            <div class="blog-pagination clearfix">
                <ul class="flat-pagination  float-left clearfix">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="next"><a href="#">Next<i class="fa fa-angle-double-right"></i></a></li>                               
                </ul><!-- /.flat-pagination -->
                <div class="count-page float-right">
                    <span>Page 1 of 60 results</span>
                </div>
            </div><!-- /.blog-pagination -->           
        </div><!-- /.container -->   
    </section>   

    <!-- Footer -->
    <footer class="footer widget-footer">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3 col-sm-6 reponsive-mb30">  
                    <div class="widget-logo">
                        <div id="logo-footer" class="logo">
                            <a href="index.html" rel="home">
                                <img src="images/logofooter1.png" alt="image">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p> 
                        <ul class="flat-information">
                            <li><i class="fa fa-map-marker"></i><a href="#">40 Baria Sreet, NewYork City, US</a></li>
                            <li><i class="fa fa-phone"></i><a href="#">001-1234-88888</a></li>
                            <li><i class="fa fa-envelope"></i><a href="#">info.deercreative@gmail.com</a></li>
                        </ul>           
                    </div>         
                </div><!-- /.col-md-3 --> 

                <div class="col-lg-3 col-sm-6 reponsive-mb30">  
                    <div class="widget widget-out-link clearfix">
                        <h5 class="widget-title">Our Links</h5>
                        <ul class="one-half">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="team-v1.html">Pages</a></li>
                            <li><a href="projects.html">Projects</a></li>
                        </ul>
                        <ul class="one-half">
                            <li><a href="new-fullwidth.html">News</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="page-careers.html">Careers</a></li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-lg-3 col-sm-6 reponsive-mb30">
                    <div class="widget widget-recent-new">
                        <h5 class="widget-title">Recent News</h5>
                        <ul class="popular-new">
                            <li>
                                <div class="text">
                                    <h6><a href="#">Colombia Gets a Business Makeover</a></h6>
                                    <span>20 Aug 2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <h6><a href="#">Counting the Cost of Delay & Disruption</a></h6>
                                    <span>20 Aug 2017</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-lg-3 col-sm-6 reponsive-mb30">
                    <div class="widget widget-letter">
                        <h5 class="widget-title">Newsletter</h5>
                        <p class="info-text">Subscribe our newsletter gor get noti-fication about new updates, etc.</p>
                        <form id="subscribe-form" class="flat-mailchimp" method="post" action="#" data-mailchimp="true">
                            <div class="field clearfix" id="subscribe-content"> 
                                <p class="wrap-input-email">
                                    <input type="text" tabindex="2" id="subscribe-email" name="subscribe-email" placeholder="Enter Your Email">
                                </p>
                                <p class="wrap-btn">
                                    <button type="button" id="subscribe-button" class="flat-button subscribe-submit" title="Subscribe now">SUBSCRIBE</button>
                                </p>
                            </div>
                            <div id="subscribe-msg"></div>
                        </form>
                    </div>
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->    
        </div><!-- /.container -->
    </footer>

    <!-- Bottom -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="copyright"> 
                        <p>@2017 <a href="https://themeforest.net/user/themesflat">Themesflat</a>. All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="social-links style2 text-right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul> 
                </div>
            </div>          
        </div><!-- /.container -->
    </div><!-- bottom -->

    <!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-angle-up"></i>
    </a>       

    </div>
    
    <!-- Javascript -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/tether.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script> 
    <script src="javascript/jquery.easing.js"></script>    
    <script src="javascript/jquery-waypoints.js"></script>     
    <script src="javascript/jquery.cookie.js"></script>
    <script src="javascript/parallax.js"></script>
    <script src="javascript/smoothscroll.js"></script>
    <script src="javascript/switcher.js"></script>
    <script src="javascript/main.js"></script>
</body>
</html>