<!DOCTYPE html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html
  xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="zxx"
  lang="zxx"
><!--<![endif]-->
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->
    <title>Consuloan | Responsive Multi-Purpose HTML Template</title>

    <meta name="author" content="themesflat.com" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
    />

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />

    <!-- Colors -->
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/colors/color1.css"
      id="colors"
    />

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css" />

    <!-- Favicon and touch icons  -->
    <link
      href="icon/apple-touch-icon-48-precomposed.png"
      rel="icon"
      sizes="48x48"
    />
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="icon" />
    <link href="icon/favicon.png" rel="icon" />

    <!--[if lt IE 9]>
      <script src="javascript/html5shiv.js"></script>
      <script src="javascript/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="header_sticky">
    <!-- Preloader -->
    <div id="loading-overlay">
      <div class="loader"></div>
    </div>

    <!-- Boxed -->
    <div class="boxed">
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-6 reponsive-onehalf">
              <p class="info-text">Welcome to Financial Services Consultant!</p>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-sm-6 reponsive-onehalf">
              <div class="wrap-top">
                <ul class="flat-top social-links">
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="google">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                </ul>
                <div class="flat-top flat-language">
                  <ul class="unstyled">
                    <li class="current">
                      <a href="#">English</a>
                      <ul class="unstyled">
                        <li class="en"><a href="#">French</a></li>
                        <li class="ge"><a href="#">German</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.top -->

      <div class="flat-header-wrap">
        <!-- Header -->
        <div class="header widget-header clearfix">
          <div class="container">
            <div class="header-wrap clearfix">
              <div class="row">
                <div class="col-lg-3">
                  <div id="logo" class="logo">
                    <a href="index.html" rel="home">
                      <img src="images/logo1.png" alt="image" />
                    </a>
                  </div>
                  <!-- /.logo -->
                </div>
                <div class="col-lg-9">
                  <div class="wrap-widget-header clearfix">
                    <aside class="widget widget-info">
                      <div class="btn-click">
                        <a href="#" class="flat-button">GET A QUOTE</a>
                      </div>
                    </aside>
                    <aside class="widget widget-info">
                      <div class="textwidget clearfix">
                        <div class="info-icon">
                          <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="info-text">
                          <h6>40 Baria Sreet 133/2</h6>
                          <p>NewYork City, US</p>
                        </div>
                      </div>
                    </aside>
                    <aside class="widget widget-info">
                      <div class="textwidget clearfix">
                        <div class="info-icon">
                          <i class="fa fa-phone"></i>
                        </div>
                        <div class="info-text">
                          <h6>001-1234-88888</h6>
                          <p>info.deercreative@gmail.com</p>
                        </div>
                      </div>
                    </aside>
                  </div>
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.header-wrap -->
          </div>
        </div>
        <!-- /.header -->
        <header id="header" class="header header-style1 header-classic">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="flat-wrap-header">
                  <div class="nav-wrap clearfix">
                    <nav id="mainnav" class="mainnav">
                      <ul class="menu">
                        <li>
                          <a href="index.html">Home</a>
                          <ul class="submenu">
                            <li><a href="index.html">Homepage Style 01</a></li>
                            <li>
                              <a href="index-v2.html">Homepage Style 02</a>
                            </li>
                            <li>
                              <a href="index-v3.html">Homepage Style 03</a>
                            </li>
                            <li>
                              <a href="index-v4.html">Homepage Style 04</a>
                            </li>
                            <li>
                              <a href="index-v5.html">Homepage Style 05</a>
                            </li>
                            <li>
                              <a href="index-v6.html">Homepage Style 06</a>
                            </li>
                            <li>
                              <a href="index-v7.html">Homepage Style 07</a>
                            </li>
                            <li>
                              <a href="index-v8.html">Homepage Style 08</a>
                            </li>
                            <li>
                              <a href="index-customer.html">Homepage Animate</a>
                            </li>
                          </ul>
                          <!-- /.submenu -->
                        </li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li>
                          <a href="services.html">Services</a>
                          <ul class="submenu">
                            <li>
                              <a href="services.html">Services Style 01</a>
                            </li>
                            <li>
                              <a href="services-v2.html">Services Style 02</a>
                            </li>
                            <li>
                              <a href="services-details.html"
                                >Services Details</a
                              >
                            </li>
                          </ul>
                          <!-- /.submenu -->
                        </li>
                        <li>
                          <a href="team-v1.html">pages</a>
                          <ul class="submenu">
                            <li>
                              <a href="team-v1.html">Our Team Style 01</a>
                            </li>
                            <li>
                              <a href="team-v2.html">Our Team Style 02</a>
                            </li>
                            <li><a href="page-careers.html">Careers</a></li>
                            <li><a href="page-404.html">Error 404</a></li>
                            <li>
                              <a href="page-comingsoon.html">Coming Soon</a>
                            </li>
                          </ul>
                          <!-- /.submenu -->
                        </li>
                        <li class="active">
                          <a href="projects.html">Projects</a>
                          <ul class="submenu">
                            <li><a href="projects.html">Projects</a></li>
                            <li>
                              <a href="projects-v1.html">Projects 1 Column</a>
                            </li>
                            <li>
                              <a href="projects-v2.html">Projects 2 Column</a>
                            </li>
                            <li>
                              <a href="projects-grid.html">Projects Grid</a>
                            </li>
                            <li><a href="single-post.html">Single Post</a></li>
                          </ul>
                          <!-- /.submenu -->
                        </li>
                        <li>
                          <a href="new-list.html">News</a>
                          <ul class="submenu">
                            <li><a href="new-list.html">News List</a></li>
                            <li>
                              <a href="new-fullwidth.html">News Full Width</a>
                            </li>
                            <li><a href="new-grid.html">News Grid</a></li>
                            <li><a href="new-masonry.html">News Masonry</a></li>
                          </ul>
                          <!-- /.submenu -->
                        </li>
                        <li>
                          <a href="shop.html">shop</a>
                          <ul class="submenu">
                            <li><a href="shop.html">Shop Product</a></li>
                            <li>
                              <a href="shop-default.html">Shop Default</a>
                            </li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                            <li>
                              <a href="shop-single.html">Shop Audditinal</a>
                            </li>
                            <li>
                              <a href="shop-single.html">Shop Single Review</a>
                            </li>
                          </ul>
                          <!-- /.submenu -->
                        </li>
                        <li>
                          <a href="contact.html">Contact</a>
                          <ul class="submenu">
                            <li><a href="contact.html">Contact Style 01</a></li>
                            <li>
                              <a href="contact-v2.html">Contact Style 02</a>
                            </li>
                          </ul>
                          <!-- /.submenu -->
                        </li>
                      </ul>
                      <!-- /.menu -->
                    </nav>
                    <!-- /.mainnav -->
                    <div class="top-search">
                      <form action="#" id="searchform-all" method="get">
                        <div>
                          <input
                            type="text"
                            id="input-search"
                            class="sss"
                            placeholder="Search..."
                          />
                          <input type="submit" id="searchsubmit" />
                        </div>
                      </form>
                    </div>
                    <ul class="menu menu-extra">
                      <li id="s" class="show-search">
                        <a href="#search" class="flat-search"
                          ><i class="fa fa-search"></i
                        ></a>
                      </li>
                      <li class="shopping-cart">
                        <a href="#">
                          <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="subcart">
                          <div class="widget_shopping_cart_content">
                            <ul
                              class="cart_list product_list_widget margin-bottom-20"
                            >
                              <li class="mini_cart_item">no product</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="btn-menu">
                      <span></span>
                    </div>
                    <!-- //mobile menu button -->
                  </div>
                  <!-- /.nav-wrap -->
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>

      <!-- Page title -->
      <div class="page-title parallax parallax1">
        <div class="section-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-title-heading">
                <h1 class="title">Project Single Post</h1>
              </div>
              <!-- /.page-title-captions -->
              <div class="breadcrumbs">
                <ul>
                  <li class="home">
                    <i class="fa fa-home"></i><a href="index.html">Home</a>
                  </li>
                  <li><a href="projects.html">Project</a></li>
                  <li>Single Post</li>
                </ul>
              </div>
              <!-- /.breadcrumbs -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.page-title -->

      <!-- Blog posts -->
      <section class="flat-row project-single">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="single-post">
                <div class="single-text1">
                  <h2>About Project</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonum-my nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper sus-cipit lobortis
                    nisl ut aliquip ex ea commodo consequat.Duis autem vel eum
                    iriure .
                  </p>
                  <div class="project-info">
                    <h4>Filter</h4>
                    <ul>
                      <li>
                        <span class="name">Pilih Provinsi</span>:<span
                          class="info"
                          ><input type="email" class="form-control" id="email"
                        /></span>
                      </li>
                      <li>
                        <span class="name">Pilih Kota</span>:<span class="info"
                          ><input type="password" class="form-control" id="pwd"
                        /></span>
                      </li>
                      <li>
                        <span class="name">Pilih Semua</span>:<span class="info"
                          >Newyork , NY</span
                        >
                      </li>
                      <li>
                        <span class="name"
                          ><button type="submit" class="btn btn-default">
                            Cari
                          </button></span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="single-text2">
                  <table id="example" class="display" style="width: 100%">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                      </tr>
                      <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                      </tr>
                      <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td>$86,000</td>
                      </tr>
                      <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td>$433,060</td>
                      </tr>
                      <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2012/12/02</td>
                        <td>$372,000</td>
                      </tr>
                      <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>2012/08/06</td>
                        <td>$137,500</td>
                      </tr>
                      <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>2010/10/14</td>
                        <td>$327,900</td>
                      </tr>
                      <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>2009/09/15</td>
                        <td>$205,500</td>
                      </tr>
                      <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                      </tr>
                      <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>2008/12/19</td>
                        <td>$90,560</td>
                      </tr>
                      <tr>
                        <td>Quinn Flynn</td>
                        <td>Support Lead</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2013/03/03</td>
                        <td>$342,000</td>
                      </tr>
                      <tr>
                        <td>Charde Marshall</td>
                        <td>Regional Director</td>
                        <td>San Francisco</td>
                        <td>36</td>
                        <td>2008/10/16</td>
                        <td>$470,600</td>
                      </tr>
                      <tr>
                        <td>Haley Kennedy</td>
                        <td>Senior Marketing Designer</td>
                        <td>London</td>
                        <td>43</td>
                        <td>2012/12/18</td>
                        <td>$313,500</td>
                      </tr>
                      <tr>
                        <td>Tatyana Fitzpatrick</td>
                        <td>Regional Director</td>
                        <td>London</td>
                        <td>19</td>
                        <td>2010/03/17</td>
                        <td>$385,750</td>
                      </tr>
                      <tr>
                        <td>Michael Silva</td>
                        <td>Marketing Designer</td>
                        <td>London</td>
                        <td>66</td>
                        <td>2012/11/27</td>
                        <td>$198,500</td>
                      </tr>
                      <tr>
                        <td>Paul Byrd</td>
                        <td>Chief Financial Officer (CFO)</td>
                        <td>New York</td>
                        <td>64</td>
                        <td>2010/06/09</td>
                        <td>$725,000</td>
                      </tr>
                      <tr>
                        <td>Gloria Little</td>
                        <td>Systems Administrator</td>
                        <td>New York</td>
                        <td>59</td>
                        <td>2009/04/10</td>
                        <td>$237,500</td>
                      </tr>
                      <tr>
                        <td>Bradley Greer</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>41</td>
                        <td>2012/10/13</td>
                        <td>$132,000</td>
                      </tr>
                      <tr>
                        <td>Dai Rios</td>
                        <td>Personnel Lead</td>
                        <td>Edinburgh</td>
                        <td>35</td>
                        <td>2012/09/26</td>
                        <td>$217,500</td>
                      </tr>
                      <tr>
                        <td>Jenette Caldwell</td>
                        <td>Development Lead</td>
                        <td>New York</td>
                        <td>30</td>
                        <td>2011/09/03</td>
                        <td>$345,000</td>
                      </tr>
                      <tr>
                        <td>Yuri Berry</td>
                        <td>Chief Marketing Officer (CMO)</td>
                        <td>New York</td>
                        <td>40</td>
                        <td>2009/06/25</td>
                        <td>$675,000</td>
                      </tr>
                      <tr>
                        <td>Caesar Vance</td>
                        <td>Pre-Sales Support</td>
                        <td>New York</td>
                        <td>21</td>
                        <td>2011/12/12</td>
                        <td>$106,450</td>
                      </tr>
                      <tr>
                        <td>Doris Wilder</td>
                        <td>Sales Assistant</td>
                        <td>Sydney</td>
                        <td>23</td>
                        <td>2010/09/20</td>
                        <td>$85,600</td>
                      </tr>
                      <tr>
                        <td>Angelica Ramos</td>
                        <td>Chief Executive Officer (CEO)</td>
                        <td>London</td>
                        <td>47</td>
                        <td>2009/10/09</td>
                        <td>$1,200,000</td>
                      </tr>
                      <tr>
                        <td>Gavin Joyce</td>
                        <td>Developer</td>
                        <td>Edinburgh</td>
                        <td>42</td>
                        <td>2010/12/22</td>
                        <td>$92,575</td>
                      </tr>
                      <tr>
                        <td>Jennifer Chang</td>
                        <td>Regional Director</td>
                        <td>Singapore</td>
                        <td>28</td>
                        <td>2010/11/14</td>
                        <td>$357,650</td>
                      </tr>
                      <tr>
                        <td>Brenden Wagner</td>
                        <td>Software Engineer</td>
                        <td>San Francisco</td>
                        <td>28</td>
                        <td>2011/06/07</td>
                        <td>$206,850</td>
                      </tr>
                      <tr>
                        <td>Fiona Green</td>
                        <td>Chief Operating Officer (COO)</td>
                        <td>San Francisco</td>
                        <td>48</td>
                        <td>2010/03/11</td>
                        <td>$850,000</td>
                      </tr>
                      <tr>
                        <td>Shou Itou</td>
                        <td>Regional Marketing</td>
                        <td>Tokyo</td>
                        <td>20</td>
                        <td>2011/08/14</td>
                        <td>$163,000</td>
                      </tr>
                      <tr>
                        <td>Michelle House</td>
                        <td>Integration Specialist</td>
                        <td>Sydney</td>
                        <td>37</td>
                        <td>2011/06/02</td>
                        <td>$95,400</td>
                      </tr>
                      <tr>
                        <td>Suki Burks</td>
                        <td>Developer</td>
                        <td>London</td>
                        <td>53</td>
                        <td>2009/10/22</td>
                        <td>$114,500</td>
                      </tr>
                      <tr>
                        <td>Prescott Bartlett</td>
                        <td>Technical Author</td>
                        <td>London</td>
                        <td>27</td>
                        <td>2011/05/07</td>
                        <td>$145,000</td>
                      </tr>
                      <tr>
                        <td>Gavin Cortez</td>
                        <td>Team Leader</td>
                        <td>San Francisco</td>
                        <td>22</td>
                        <td>2008/10/26</td>
                        <td>$235,500</td>
                      </tr>
                      <tr>
                        <td>Martena Mccray</td>
                        <td>Post-Sales support</td>
                        <td>Edinburgh</td>
                        <td>46</td>
                        <td>2011/03/09</td>
                        <td>$324,050</td>
                      </tr>
                      <tr>
                        <td>Unity Butler</td>
                        <td>Marketing Designer</td>
                        <td>San Francisco</td>
                        <td>47</td>
                        <td>2009/12/09</td>
                        <td>$85,675</td>
                      </tr>
                      <tr>
                        <td>Howard Hatfield</td>
                        <td>Office Manager</td>
                        <td>San Francisco</td>
                        <td>51</td>
                        <td>2008/12/16</td>
                        <td>$164,500</td>
                      </tr>
                      <tr>
                        <td>Hope Fuentes</td>
                        <td>Secretary</td>
                        <td>San Francisco</td>
                        <td>41</td>
                        <td>2010/02/12</td>
                        <td>$109,850</td>
                      </tr>
                      <tr>
                        <td>Vivian Harrell</td>
                        <td>Financial Controller</td>
                        <td>San Francisco</td>
                        <td>62</td>
                        <td>2009/02/14</td>
                        <td>$452,500</td>
                      </tr>
                      <tr>
                        <td>Timothy Mooney</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>37</td>
                        <td>2008/12/11</td>
                        <td>$136,200</td>
                      </tr>
                      <tr>
                        <td>Jackson Bradshaw</td>
                        <td>Director</td>
                        <td>New York</td>
                        <td>65</td>
                        <td>2008/09/26</td>
                        <td>$645,750</td>
                      </tr>
                      <tr>
                        <td>Olivia Liang</td>
                        <td>Support Engineer</td>
                        <td>Singapore</td>
                        <td>64</td>
                        <td>2011/02/03</td>
                        <td>$234,500</td>
                      </tr>
                      <tr>
                        <td>Bruno Nash</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>38</td>
                        <td>2011/05/03</td>
                        <td>$163,500</td>
                      </tr>
                      <tr>
                        <td>Sakura Yamamoto</td>
                        <td>Support Engineer</td>
                        <td>Tokyo</td>
                        <td>37</td>
                        <td>2009/08/19</td>
                        <td>$139,575</td>
                      </tr>
                      <tr>
                        <td>Thor Walton</td>
                        <td>Developer</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2013/08/11</td>
                        <td>$98,540</td>
                      </tr>
                      <tr>
                        <td>Finn Camacho</td>
                        <td>Support Engineer</td>
                        <td>San Francisco</td>
                        <td>47</td>
                        <td>2009/07/07</td>
                        <td>$87,500</td>
                      </tr>
                      <tr>
                        <td>Serge Baldwin</td>
                        <td>Data Coordinator</td>
                        <td>Singapore</td>
                        <td>64</td>
                        <td>2012/04/09</td>
                        <td>$138,575</td>
                      </tr>
                      <tr>
                        <td>Zenaida Frank</td>
                        <td>Software Engineer</td>
                        <td>New York</td>
                        <td>63</td>
                        <td>2010/01/04</td>
                        <td>$125,250</td>
                      </tr>
                      <tr>
                        <td>Zorita Serrano</td>
                        <td>Software Engineer</td>
                        <td>San Francisco</td>
                        <td>56</td>
                        <td>2012/06/01</td>
                        <td>$115,000</td>
                      </tr>
                      <tr>
                        <td>Jennifer Acosta</td>
                        <td>Junior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>43</td>
                        <td>2013/02/01</td>
                        <td>$75,650</td>
                      </tr>
                      <tr>
                        <td>Cara Stevens</td>
                        <td>Sales Assistant</td>
                        <td>New York</td>
                        <td>46</td>
                        <td>2011/12/06</td>
                        <td>$145,600</td>
                      </tr>
                      <tr>
                        <td>Hermione Butler</td>
                        <td>Regional Director</td>
                        <td>London</td>
                        <td>47</td>
                        <td>2011/03/21</td>
                        <td>$356,250</td>
                      </tr>
                      <tr>
                        <td>Lael Greer</td>
                        <td>Systems Administrator</td>
                        <td>London</td>
                        <td>21</td>
                        <td>2009/02/27</td>
                        <td>$103,500</td>
                      </tr>
                      <tr>
                        <td>Jonas Alexander</td>
                        <td>Developer</td>
                        <td>San Francisco</td>
                        <td>30</td>
                        <td>2010/07/14</td>
                        <td>$86,500</td>
                      </tr>
                      <tr>
                        <td>Shad Decker</td>
                        <td>Regional Director</td>
                        <td>Edinburgh</td>
                        <td>51</td>
                        <td>2008/11/13</td>
                        <td>$183,000</td>
                      </tr>
                      <tr>
                        <td>Michael Bruce</td>
                        <td>Javascript Developer</td>
                        <td>Singapore</td>
                        <td>29</td>
                        <td>2011/06/27</td>
                        <td>$183,000</td>
                      </tr>
                      <tr>
                        <td>Donna Snider</td>
                        <td>Customer Support</td>
                        <td>New York</td>
                        <td>27</td>
                        <td>2011/01/25</td>
                        <td>$112,000</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                      </tr>
                    </tfoot>
                  </table>
                  <form class="needs-validation" novalidate>
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom01">First name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom01"
                          placeholder="First name"
                          value="Mark"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Last name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Last name"
                          value="Otto"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationCustomUsername">Username</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span
                              class="input-group-text"
                              id="inputGroupPrepend"
                              >@</span
                            >
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustomUsername"
                            placeholder="Username"
                            aria-describedby="inputGroupPrepend"
                            required
                          />
                          <div class="invalid-feedback">
                            Please choose a username.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label for="validationCustom03">City</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom03"
                          placeholder="City"
                          required
                        />
                        <div class="invalid-feedback">
                          Please provide a valid city.
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationCustom04">State</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom04"
                          placeholder="State"
                          required
                        />
                        <div class="invalid-feedback">
                          Please provide a valid state.
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Zip</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom05"
                          placeholder="Zip"
                          required
                        />
                        <div class="invalid-feedback">
                          Please provide a valid zip.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="invalidCheck"
                          required
                        />
                        <label class="form-check-label" for="invalidCheck">
                          Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                      Submit form
                    </button>
                  </form>
                  <h2>Project Analysis</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonum-my nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper sus-cipit lobortis
                    nisl ut aliquip ex ea commodo consequat.Duis autem vel eum
                    iriure .
                  </p>
                </div>
                <div class="single-text3">
                  <h2>Our Solution</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonum-my nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper sus-cipit lobortis
                    nisl ut aliquip ex ea commodo consequat.Duis autem vel eum
                    iriure .Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eius-mod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea com-modo
                    consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidata
                  </p>
                </div>
                <div class="single-text4">
                  <h2>The Result</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonum-my nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper sus-cipit lobortis
                    nisl ut aliquip ex ea commodo consequat.Duis autem vel eum
                    iriure .
                  </p>
                </div>
              </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="featured-single">
                <img src="images/blog/ps1.jpg" alt="image" class="img1" />
                <img src="images/blog/ps2.jpg" alt="image" class="img2" />
                <img src="images/blog/ps3.jpg" alt="image" class="img3" />
                <img src="images/blog/ps4.jpg" alt="image" class="img4" />
              </div>
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>

      <!-- Footer -->
      <footer class="footer widget-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6 reponsive-mb30">
              <div class="widget-logo">
                <div id="logo-footer" class="logo">
                  <a href="index.html" rel="home">
                    <img src="images/logofooter1.png" alt="image" />
                  </a>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore
                </p>
                <ul class="flat-information">
                  <li>
                    <i class="fa fa-map-marker"></i
                    ><a href="#">40 Baria Sreet, NewYork City, US</a>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i><a href="#">001-1234-88888</a>
                  </li>
                  <li>
                    <i class="fa fa-envelope"></i
                    ><a href="#">info.deercreative@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.col-md-3 -->

            <div class="col-lg-3 col-sm-6 reponsive-mb30">
              <div class="widget widget-out-link clearfix">
                <h5 class="widget-title">Our Links</h5>
                <ul class="one-half">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="team-v1.html">Pages</a></li>
                  <li><a href="projects.html">Projects</a></li>
                </ul>
                <ul class="one-half">
                  <li><a href="new-fullwidth.html">News</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="page-careers.html">Careers</a></li>
                </ul>
              </div>
            </div>
            <!-- /.col-md-3 -->

            <div class="col-lg-3 col-sm-6 reponsive-mb30">
              <div class="widget widget-recent-new">
                <h5 class="widget-title">Recent News</h5>
                <ul class="popular-new">
                  <li>
                    <div class="text">
                      <h6><a href="#">Colombia Gets a Business Makeover</a></h6>
                      <span>20 Aug 2017</span>
                    </div>
                  </li>
                  <li>
                    <div class="text">
                      <h6>
                        <a href="#">Counting the Cost of Delay & Disruption</a>
                      </h6>
                      <span>20 Aug 2017</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.col-md-3 -->

            <div class="col-lg-3 col-sm-6 reponsive-mb30">
              <div class="widget widget-letter">
                <h5 class="widget-title">Newsletter</h5>
                <p class="info-text">
                  Subscribe our newsletter gor get noti-fication about new
                  updates, etc.
                </p>
                <form
                  id="subscribe-form"
                  class="flat-mailchimp"
                  method="post"
                  action="#"
                  data-mailchimp="true"
                >
                  <div class="field clearfix" id="subscribe-content">
                    <p class="wrap-input-email">
                      <input
                        type="text"
                        tabindex="2"
                        id="subscribe-email"
                        name="subscribe-email"
                        placeholder="Enter Your Email"
                      />
                    </p>
                    <p class="wrap-btn">
                      <button
                        type="button"
                        id="subscribe-button"
                        class="flat-button subscribe-submit"
                        title="Subscribe now"
                      >
                        SUBSCRIBE
                      </button>
                    </p>
                  </div>
                  <div id="subscribe-msg"></div>
                </form>
              </div>
            </div>
            <!-- /.col-md-3 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bottom -->
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="copyright">
                <p>
                  @2017
                  <a href="https://themeforest.net/user/themesflat"
                    >Themesflat</a
                  >. All rights reserved.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul class="social-links style2 text-right">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-skype"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- bottom -->

      <!-- Go Top -->
      <a class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>

    <!-- Javascript -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/tether.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/jquery.easing.js"></script>
    <script src="javascript/jquery-waypoints.js"></script>
    <script src="javascript/jquery.cookie.js"></script>
    <script src="javascript/parallax.js"></script>
    <script src="javascript/smoothscroll.js"></script>
    <script src="javascript/switcher.js"></script>
    <script src="javascript/main.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
  </body>
</html>
